# INFORMAÇÕES IMPORTANTES:

## Dependências

!pip install tensorflow==2.5.0
!pip install plotly
!pip install yfinance  or !pip install yahooquery
!pip install --upgrade mplfinance
sudo apt install nodejs (https://stackoverflow.com/questions/52771328/plotly-chart-not-showing-in-jupyter-notebook)

## Especificações da Pesquisa

- Horizonte de previsão: 30 min, 1 hora, 3 horas

# Utilização de rede neural recorrente LSTM para previsões intradiárias do mercado de ações.

In [1]:
import pandas as pd
import tensorflow as tf
import numpy as np


#-----------------------------------------------------------
#Lê os dados do arquivo CSV.
#-----------------------------------------------------------
data = pd.read_csv('/home/bene/MachineLearning/TCC/Base de Dados/BPAC_30m_2019.csv') 
data.head()
#print(df)
#df.info()

                        time    open    high     low   close  Volume
0  2019-01-02T10:00:00-02:00  5.9125  5.9375  5.9125  5.9300    7600
1  2019-01-02T10:30:00-02:00  5.9300  5.9700  5.9200  5.9525   46800
2  2019-01-02T11:00:00-02:00  5.9575  5.9925  5.9400  5.9800   52800
3  2019-01-02T11:30:00-02:00  5.9875  6.0050  5.9825  5.9900   57200
4  2019-01-02T12:00:00-02:00  5.9950  6.0350  5.9900  6.0175   60400

In [2]:
#-----------------------------------------------------------
#Escolhe a coluna de série temporal única de interesse.
#-----------------------------------------------------------
symbol = "close"

data = pd.DataFrame(data[symbol])
data.head()

    close
0  5.9300
1  5.9525
2  5.9800
3  5.9900
4  6.0175

In [3]:
#-----------------------------------------------------------
#Renomeia a única coluna para price
#-----------------------------------------------------------

data.rename(columns={symbol: 'price'}, inplace=True)

data.head()

    price
0  5.9300
1  5.9525
2  5.9800
3  5.9900
4  6.0175

In [4]:
#-----------------------------------------------------------
# Calcula o log de retorno e define a direção como uma coluna binária.
#-----------------------------------------------------------

#Log Retorno
data['return'] = np.log(data['price']/data['price'].shift(1))

#Coluna binária
data['direction'] = np.where(data['return'] > 0, 1, 0)
#data.head()

display(data)

        price    return  direction
0      5.9300       NaN          0
1      5.9525  0.003787          1
2      5.9800  0.004609          1
3      5.9900  0.001671          1
4      6.0175  0.004580          1
...       ...       ...        ...
3912  18.8975  0.002649          1
3913  18.9000  0.000132          1
3914  18.9350  0.001850          1
3915  18.9175 -0.000925          0
3916  18.8025 -0.006098          0

[3917 rows x 3 columns]

In [5]:
#Para a previsão do mercado de ações, é crucial encontrar dependências de tempo bem definidas
lags = 4

cols = []
#-----------------------------------------------------------
# Cria os Lagged Data
#-----------------------------------------------------------
for lag in range(1, lags + 1):
     col = f'lag_{lag}'
#-----------------------------------------------------------
# Cria novas colunas DataFrame com os retornos de log deslocados pelo respectivo número de atrasos
#-----------------------------------------------------------
     data[col] = data['return'].shift(lag)
     cols.append(col)
#-----------------------------------------------------------
# Exclui as linhas que contêm valores NaN.
#-----------------------------------------------------------
data.dropna(inplace=True)

In [6]:
#-----------------------------------------------------------
# Imprime as cinco linhas finais indicando os “padrões” emergentes nas quatro colunas de recursos
#-----------------------------------------------------------

#data.round(4).tail() 
display(data)

        price    return  direction     lag_1     lag_2     lag_3     lag_4
5      6.0850  0.011155          1  0.004580  0.001671  0.004609  0.003787
6      6.1425  0.009405          1  0.011155  0.004580  0.001671  0.004609
7      6.1350 -0.001222          0  0.009405  0.011155  0.004580  0.001671
8      6.1625  0.004472          1 -0.001222  0.009405  0.011155  0.004580
9      6.1700  0.001216          1  0.004472 -0.001222  0.009405  0.011155
...       ...       ...        ...       ...       ...       ...       ...
3912  18.8975  0.002649          1 -0.001326 -0.001324 -0.001718 -0.003428
3913  18.9000  0.000132          1  0.002649 -0.001326 -0.001324 -0.001718
3914  18.9350  0.001850          1  0.000132  0.002649 -0.001326 -0.001324
3915  18.9175 -0.000925          0  0.001850  0.000132  0.002649 -0.001326
3916  18.8025 -0.006098          0 -0.000925  0.001850  0.000132  0.002649

[3912 rows x 7 columns]

In [7]:
#-----------------------------------------------------------
# Importa o pacote TensorFlow.
#-----------------------------------------------------------
import tensorflow as tf
#-----------------------------------------------------------
# Importa o objeto de modelo necessário do Keras
#-----------------------------------------------------------
from keras.models import Sequential
#-----------------------------------------------------------
# Importa o objeto de camada relevante do Keras
#-----------------------------------------------------------
from keras.layers import Dense
#-----------------------------------------------------------
# Importa a LSTM
#-----------------------------------------------------------
from tensorflow.keras.layers import LSTM
#-----------------------------------------------------------
# Importa Layer weight regularizers
# https://keras.io/api/layers/regularizers/
#-----------------------------------------------------------
from tensorflow.keras import regularizers

from tensorflow.keras.optimizers import Adam, RMSprop, Adamax

#optimizer = Adam(learning_rate=0.01)

# https://keras.io/api/optimizers/adamax/
optimizer = Adamax(learning_rate=0.001)

In [8]:
## Definir o que é isso e para que server?
import random

def set_seeds(seed=100):
    random.seed(seed)
    np.random.seed(seed)
    tf.random.set_seed(100)

In [9]:
set_seeds()

#-----------------------------------------------------------
# Um modelo Sequencial é instanciado.
#-----------------------------------------------------------
model=Sequential()

#-----------------------------------------------------------
# As camadas ocultas e a camada de saída são definidas.
#-----------------------------------------------------------
# Se cada amostra de entrada tiver 4 passos de tempo, onde cada passo de tempo 
# consiste em 1 valor de recurso, então a forma de entrada seria (4, 1).
# https://stackoverflow.com/questions/61153831/how-to-properly-set-the-input-shape-of-lstm-layers
# input_shape = Deve ser 3 dimensôes, batch_size, timestep, the number of units in one input sequence

model.add(LSTM(100,activation='relu', input_shape=(lags,1),return_sequences=True))
model.add(LSTM(50,activation='relu',return_sequences=True))
model.add(LSTM(10,activation='relu',return_sequences=True))
model.add(Dense(1, activation='sigmoid'))

#model.add(LSTM(8, input_shape=(lags,1),return_sequences=True))
#model.add(LSTM(4,kernel_regularizer=regularizers.L1(0.02),return_sequences=True))
#model.add(LSTM(2,kernel_regularizer=regularizers.L1(0.02),return_sequences=True))
#model.add(Dense(1, activation='sigmoid'))

#-----------------------------------------------------------
# Compila o objeto de modelo Sequencial para classificação.
#-----------------------------------------------------------
# https://keras.io/api/losses/probabilistic_losses/#binary_crossentropy-function
# https://keras.io/api/losses/
model.compile(optimizer=optimizer,
 loss='binary_crossentropy',
metrics=['accuracy'])
# https://keras.io/api/metrics/
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 4, 100)            40800
_________________________________________________________________
lstm_1 (LSTM)                (None, 4, 50)             30200
_________________________________________________________________
lstm_2 (LSTM)                (None, 4, 10)             2440
_________________________________________________________________
dense (Dense)                (None, 4, 1)              11
=================================================================
Total params: 73,451
Trainable params: 73,451
Non-trainable params: 0
_________________________________________________________________

In [10]:
#-----------------------------------------------------------
# Define a data limite entre os dados de treinamento e teste.
#-----------------------------------------------------------
cutoff = 2740

#-----------------------------------------------------------
# Define os conjuntos de dados de treinamento.
#-----------------------------------------------------------
training_data = data[data.index < cutoff].copy()

#-----------------------------------------------------------
# Normaliza os dados de recursos por normalização gaussiana.
#-----------------------------------------------------------
mu, std = training_data.mean(), training_data.std()
training_data_ = (training_data - mu) / std

#-----------------------------------------------------------
# Define os conjuntos de dados de teste.
#-----------------------------------------------------------
test_data = data[data.index >= cutoff].copy()


#-----------------------------------------------------------
# Normaliza os dados de recursos por normalização gaussiana.
#-----------------------------------------------------------
test_data_ = (test_data - mu) / std 

#display(training_data)
#display(test_data)

In [11]:
# training_data_[cols]
# training_data[cols]

In [ ]:
%%time
#-----------------------------------------------------------
# Ajusta o modelo ao conjunto de dados de treinamento.
#-----------------------------------------------------------
# model.fit(training_data[cols], # Lags
#    training_data['direction'], # 0 e 1
#    epochs=250, verbose=False, batch_size=100,
#    validation_split=0.5, shuffle=False)

model.fit(training_data[cols], # Lags
    training_data['direction'], # 0 e 1
    epochs=100, verbose=False, batch_size=32,
    validation_split=0.2, shuffle=False)

In [ ]:
res = pd.DataFrame(model.history.history)
res.head()

In [ ]:
#-----------------------------------------------------------
# Precisão do classificador LSTM nos dados de treinamento e validação por etapa de treinamento
#-----------------------------------------------------------

res[['accuracy', 'val_accuracy']].plot(figsize=(10, 6), style='--');

In [ ]:
model.evaluate(training_data_[cols], training_data['direction'])

In [ ]:
res[['loss', 'val_loss']].plot(figsize=(10, 6), style='--');

Proximos passos:

- Mandar dúvidas para o Arthur
- Entender alguns parametros da LSTM:
      - activation
      - input_shape
- Valores de perda (como diminui-los)
- Como aumentar a acurácia
- Como os dados de testes entrariam?? (Nesse exemplo, o dado de teste entra como dados de validação: https://machinelearningmastery.com/how-to-choose-loss-functions-when-training-deep-learning-neural-networks/)

- Porque o modelo é configurado como sequencial??
Sequencial refere-se à forma como você constrói modelos no Keras usando a API sequencial ( from keras.models import Sequential), onde você constrói a rede neural uma camada por vez, em sequência: camada de entrada, camada oculta 1, camada oculta 2, etc... camada de saída. Isso é direto e intuitivo, mas impõe limitações aos tipos de redes que você pode construir.

- Qual outras formas de construção do modelo que existem, além da sequencial?

- Porque é DENSA e não do tipo LSTM?
Em qualquer rede neural , uma camada densa é uma camada que está profundamente conectada com sua camada anterior, o que significa que os neurônios da camada estão conectados a todos os neurônios de sua camada anterior.
https://analyticsindiamag.com/a-complete-understanding-of-dense-layers-in-neural-networks/


- Porque usar RELU? (Doutorado de Arthur)
Além disso, a função ReLU (do inglês REctified Linear Unit) (HAHNLOSER et al., 2000),
apresentada na Equação 4.3 e ilustrada na Figura 4.4, tem sido uma das funções mais utilizadas
no treinamento de RNAs profundas na última década. Seu valor de saída é o valor máximo
entre 0 e x, assumindo zero quando x é menor que zero e x quando esse valor é maior do
que zero. Foi demonstrado que essa função permite um melhor treinamento de Redes Neurais
Profundas, gerando menor erro durante o treinamento quando comparada com as funções de
ativação tangente hiperbólica e logística. De acordo com LeCun, Bengio e Geoffrey Hinton (2015), essa é atualmente uma das funções de ativação mais utilizadas para treinamento de
redes neurais profundas devido à sua simplicidade, cujo principal benefício é permitir acelerar
o treinamento das RNAs

# Olhar quanto 0 e quantos 1
extrair matriz de confusão 
se acuracia deu muito alta, ve se tem mais 1 ou mais 0

# Reforçar Epócas

# batch_size no model.fit


https://www.baeldung.com/wp-content/uploads/sites/4/2020/12/epoch-training-curve.png

# Acuracia super ajustada

# Artigo 1 - USO DE REDES NEURAIS RECORRENTES PARA PREVISÃO DE SÉRIES TEMPORAIS FINANCEIRAS

# Artigo 2 - CIÊNCIA DE DADOS E APRENDIZADO DE MÁQUINA PARA PREDIÇÃO EM SÉRIES TEMPORAIS FINANCEIRAS